body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

a {
    display: block;
    margin: 9px;
    padding: 9px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background: #0056b3;
}
